/* App.css */

/* Remove margins and padding from the root element to make it full screen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set the html and body to be 100% of the viewport height */
  html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  /* Ensure the map component fills the full screen */
  .App {
    height: 100vh;
    width: 100vw;
  }
  
  .mapboxgl-user-location-dot-accuracy {
    display: none !important;
  }
  .mapboxgl-user-location-accuracy-circle {
    display: none;
  }
  
  
  .map-container {
    height: 100%;
    width: 100%;
  }
  